* {
    margin: 0;
    padding: 0;
  }

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #922c2c;
    font-family: Helvetica, Arial, sans-serif;
    
  }

  header {
    padding: 20px 35px;
    background-color: #7e2b28;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffeb67;
    margin: 0;
  }

  header a {
    text-decoration: none;
    color: #ffeb67;
  }

  header nav {
    float: right;
    margin: 7px 0;
  }

  header nav ul li {
    display: inline;
  }

  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffeb67;
    margin: 0;
    display: inline;
  }

   html-intro{
    font-weight: bold;
    font-size: 36px;
    color: #ffeb67;
    margin: 0;
    display: inline;
  }
  body nav {
    font-weight: bold;
    font-size: 36px;
    font-display:
    margin: 0;
    display: inline;

  }